<p id="notice"><%= notice %></p>

<p>
  <strong>T1:</strong>
  <%= @test.t1 %>
</p>

<p>
  <strong>T2:</strong>
  <%= @test.t2 %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
